{% extends 'main/layout.html' %}

{% block title %}Удаление компании{% endblock %}

{% block content %}
<div class="features">
    <script>
        function ch(checkboxId, inputId, inputId2, value2) {
          cb = document.getElementById(checkboxId);

          if (cb.checked === true){
            input = document.getElementById(inputId);
            input.value = cb.value;
            input2 = document.getElementById(inputId2);
            input2.value = value2;
          }

        }
    </script>

    <h1>Удаление компании</h1><br/><br/>

    <form method="post">
        {% csrf_token %}
        <label class="name-for-change2">Вы точно хотите удалить компанию из списка?</label></br></br>
        <button class="btn btn-outline-primary" type="submit">Удалить компанию</button>
        <a href="{% url 'portfolio-home' %}"><button class="btn btn-outline-dark" type="button">Отмена</button></a>

    </form>

</div>
{% endblock %}

