{% extends 'main/layout.html' %}

{% block title %}Портфель{% endblock %}

{% block content %}
<div class="features">
    <h1>Мои акции</h1>


    {% if tickers %}


    {% for el in tickers %}
    <a href="{% url 'company-detail' el.id %}">
        <div class="alert alert-dark" >
             {{ el.company_ticker }} ({{el.company_name }}) <a href="{% url 'company-delete' el.id %}"><i class="fa fa-times" aria-hidden="true"></i></a>
            <div class="font-text-grey">
                    Интервал: {{ el.time_laps_list }}

            </div>
        </div>
    </a>


    {% endfor %}

    {% else %}
    <p>Добавьте первую компанию!</p>
    {% endif %}

    <a href="{% url 'portfolio-add' %}"><button class="btn btn-outline-secondary">+</button></a>

</div>
{% endblock %}

