{% extends 'main/layout.html' %}

{% load crispy_forms_tags %}
{% block title %}Профиль{% endblock %}


{% block content %}

        {% if user.is_authenticated %}
        <div class="profile-action">
            <div class="profile-action-text">
            	<a class="nav-item nav-link" href="{% url 'logout' %}">Выход</a>
            </div>
        </div>
        {% else %}
            <div class="profile-action">
                <a class="nav-item nav-link" href="{% url 'login' %}">Вход</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Регистрация</a>
            </div>
        {% endif %}

    <div class="features">
        {% if user.is_authenticated %}
        <h1>Данные профиля</h1>
            <div class="alert alert-warning">
                <h3>Имя пользователя: {{ user.username }}</h3>
                <p>{{ user.email }}</p>
            </div>

          	{% endif %}
    </div>
{% endblock %}


